// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Simditor
@import "node_modules/simditor/styles/simditor.scss";

//font-awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

//basic
@import "basic";

.country-filter{
	position: absolute;
	top:42px;
	right: 16px;
}